.vscode/**
.vscode-test/**
src/**
.gitignore
.npmrc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
lefthook.yml
.oxlintrc.json
.oxfmtrc.json
pnpm-lock.yaml
