name: Test VSCode Extension

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Install Xvfb
        run: sudo apt-get install xvfb

      - name: Run test
        run: xvfb-run npm run test
